<!DOCTYPE html>
<html>
  <head>
    <title>Bibliohouse</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@1,900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
    <script>
      // tailwind.config.js

      tailwind.config = {
        theme: {
          extend: {
            height: (theme) => ({
              98: "94vh", // This will generate a utility class .h-80 with a height of 20rem
            }),
          },
          fontFamily: {
            sans: ["Inter", "sans-serif"],
          },
        },
        // other configurations...
      };
    </script>
    <style>
      .text-gradient {
        background: #4b6cb7;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #182848, #4b6cb7);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #182848, #4b6cb7);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }

      .bg-dark-blue {
        background: #182848;
        /* fallback for old browsers */
      }

      .book-details {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        }
    /* Style for the image */
    .book-cover {
        max-width: 100%;
        height: auto;
    }
    </style>
  </head>
  <body class="white">
    <header class="bg-gray-100">
        <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
            <div class="flex md:flex-1">
                <a href="/" class="-m-1.5 p-1.5">
                    <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
                        alt="" />
                </a>
            </div>
            <div class="hidden lg:flex lg:flex-1 lg:justify-end">
                <div
                    class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                    <span class="flex select-none items-center pl-3 text-gray-500 sm:text-sm">Pesquise com&nbsp;<b>ENTER</b> </span>
                    <form method="POST" action="{{ url_for('busca') }}">
                        <input type="text" name="search_query" id="search_query" autocomplete="username"
                            class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
                            placeholder="Harry Potter..." />
                    </form>
                </div>
                <a class="ml-5" href="{{ url_for('adicionar') }}">
                    <button class="bg-dark-blue hover:bg-gray-600 text-white text-sm font-medium py-2 px-4 rounded">
                        Novo Livro <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </a>
            </div>
        </nav>
    </header>
    <div class="bg-white">
        <div class="mx-auto grid max-w-2xl grid-cols-1 items-center gap-x-8 gap-y-16 px-4 py-20 lg:max-w-7xl lg:grid-cols-2 lg:px-8">
          <div>
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{ book.title }}</h2>
            <p class="mt-4 text-gray-500">{{ book.description }}</p>
      
            <dl class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8">
              <div class="border-t border-gray-200 pt-4">
                <dt class="font-medium text-gray-900">Autor(a)</dt>
                <dd class="mt-2 text-sm text-gray-500">{{ book.author }}</dd>
              </div>
              <div class="border-t border-gray-200 pt-4">
                <dt class="font-medium text-gray-900">Editora</dt>
                <dd class="mt-2 text-sm text-gray-500">{{ book.publisher }}</dd>
              </div>
              <div class="border-t border-gray-200 pt-4">
                <dt class="font-medium text-gray-900">Data de Lançamento</dt>
                <dd class="mt-2 text-sm text-gray-500">{{ book.publication_date }}</dd>
              </div>
              <div class="border-t border-gray-200 pt-4">
                <dt class="font-medium text-gray-900">Gênero</dt>
                <dd class="mt-2 text-sm text-gray-500">{{ book.genre }}</dd>
              </div>
              <div class="border-t border-gray-200 pt-4">
                <dt class="font-medium text-gray-900">Ações</dt>
                <div class="mt-4">
                    <a class="" href="{{ url_for('editar', title=book.title) }}">
                        <button class="bg-dark-blue hover:bg-gray-600 text-white text-sm font-medium py-2 px-4 rounded">
                            Atualizar <i class="fa-solid fa-arrow-right"></i>
                        </button>
                    </a>
                    <a class="ml-3" href="{{ url_for('excluir', title=book.title) }}">
                        <button class="bg-red-400 hover:bg-gray-600 text-white text-sm font-medium py-2 px-4 rounded">
                            Excluir <i class="fa-solid fa-arrow-right"></i>
                        </button>
                    </a>
                </div>
              </div>
              <div class="border-t border-gray-200 pt-4">
                <dt class="font-medium text-gray-900">Número de Páginas</dt>
                <dd class="mt-2 text-sm text-gray-500">{{ book.pages }}</dd>
              </div>
            </dl>
          </div>
          <div class="grid grid-cols-1 grid-rows-1 gap-4 sm:gap-6 lg:gap-8 ml-40 shadow-md">
            <img src="{{ url_for('static', filename=book.cover_image) }}" alt="{{ book.title }}" class="rounded-lg bg-gray-100">
          </div>
        </div>
      </div>
</body>
</html>
